.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
/.quarto/
**/*.quarto_ipynb
_book
_docx
_QC_biodiv_docx
2026-04-22-WebinarResults
.positai
mydb.duckdb
mydb.duckdb.wal
pkg.lock
_maps
*/_maps
_data
_private
.vscode
.RDataTmp

!P3_moteurs_changement/_data/
P3_moteurs_changement/_data/*
!P3_moteurs_changement/_data/jaureguiberry2022
P3_moteurs_changement/Out/jaureguiberry2022/search_results.csv
P3_moteurs_changement/out/jaureguiberry2022/search_results/
P3_moteurs_changement/out/jaureguiberry2022/search_results_incomplete.csv
